{% extends "logInOutbase.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}Southern Connections{% endblock %} 
<style>

</style>
{% block content %} 

<br>
<div class="page-header container" style="color:#02164F; font-family:Open Sans Condensed, sans-serif;">
    <h3>Change Your Password</h3>
</div>
</header>
<div class="container">
	<div class="row">
	<div class="col-md-6">
{{ wtf.quick_form(form, button_map={'submit': 'southern'}) }}
<br>
<a class="btn btn-xl rounded-pill" style="display:inline-block" href="{{ url_for('user', username=current_user.id) }}">Cancel</a>
</div>
</div>
{% endblock %}
