{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}SouthernConnections - {{ groups[1] }} {% endblock %}

{% block page_content %}
	<div class="container" style="border-width: 0px">
		<table class="table">
			<thead><h3 align="center">{{ groups[1] }}</h3></thead>
		</table>
	</div>
<br>
{% if events != []: %}
<div class="container">
<h3 align="center">Upcoming Meetups</h3>
</div>
<br>
<div class="container">
  <table class="table table-hover">
  	<col width="300">
	<col width="500">
	<col width="300">
	<col width="150">
	<col width="150">
    <thead style="background-color: #02164F; color: #fff;font-family: 'Open Sans Condensed', sans-serif;">
     <tr>
      <th>Title</th>
      <th>Description</th>
	  <th>Place</th>
      <th>Date</th>
	  <th>Time</th>
     </tr>
    </thead>
    <tbody>
    {% for event in events %}
      <tr>
        <td><a href="/meetup/{{ event[0] }}" style="color: #031B75">{{ event[1] }}</a></td>
        <td>{{ event[2] }}</td>
        <td>{{ event[3] }}</td>
		<td>{{ event[4] }}</td>
		<td>{{ event[5] }}</td>
      </tr>
	{% endfor %}
    </tbody>
   </table>
  </div>
{% else: %}
<table style="height: 100px; border:0">
  <tbody>
    <tr>
      <td class="align-middle"><h4>No Events Scheduled</h4></td>
    </tr>
  </tbody>
</table>
{% endif %}



{% endblock %}